<!-- TODO: DO I NEED TO EXTEND BASE?-->

{% load static %}
<html>

<meta charset="UTF-8">

<head>
    <title> gsea datatable page</title>
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">


        <script src="{% static 'js/dt.js' %}"></script>
    <base href="/">
</head>
<!-- TECHNICALLY WE SHOULDNT EVEN NEED THESE LINKS VVV-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->

<!--    <script type="text/css" src="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"></script>-->
<!--    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">-->
<!--    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>-->

<body>

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form>


{% if saved %}
<!--
 todo: use this to open the file!
<a href="{{ uploaded_file_path }}">
-->

<p>File uploaded: {{ uploaded_file_path }}</p>
<!-- if the file was uploaded, we check the input validity-->
<p> Successfully uploaded! </p>
{% endif %}

{% if not saved %}
<strong>Your document is not saved yet.</strong>
{% endif %}

{% if pval %}
<strong>HERE ARE THE P VALUES:
    {{pval}}
</strong>
{% endif %}

{% if missing_genes %}
<strong>Your file contains the following unsupported entrezIDs:
    {{missing_genes}}
</strong>
{% endif %}

<!-- add table_id for datatable functionality-->
<div class="container" style="margin-top: 20px">
    <h1><i class="fas fa-chalkboard-teacher"></i> GSEA TITLE </h1>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table id="table_id" class="table table-bordered table-hover" border='2' align="center" style="width:50%">
                <caption> Data table for GSEA tool</caption>

                <thead>
                <tr>

                    <th> Geneset Type</th>
                    <th> EntrezID</th>
                    <th> Standard Name</th>
                    <!--        <th> pval </th>-->
                    <!--        <th> adj.pval </th>-->
                    <!--        <th> geneset_size </th>-->
                    <!--        <th> input_size </th>-->
                    <!--        <th> overlap </th>-->
                </tr>
                </thead>
                <tbody>
                {% if valid_genes %}
                {% for gene in valid_genes%}
                <tr>
                    <td>{{ geneset.id }}</td>
                    <td>{{ gene.entrezid }}</td>
                    <td>{{ gene.standard_name }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <hr>
    <p><a href="{% url 'base' %}">Return to home</a></p>
</div>

{% endblock %}
</body>
</html>


<script type="text/javascript">
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
