
<!--{% load static %}-->

<!--{% block content %}-->
<!--  <form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    <input type="file" name="myfile">-->
<!--    <button type="submit">Upload</button>-->
<!--  </form>-->

<!--  {% if form %}-->
<!--    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->
<!--    &lt;!&ndash; if the file was uploaded, we check the input validity&ndash;&gt;-->
<!--    <p> Successfully uploaded! </p>-->
<!--{% endif %}-->
<!--<p> Not yet uploaded </p>-->

<!--  <p><a href="{% url 'base' %}">Return to home</a></p>-->
<!--{% endblock %}-->